<div class="container">
  <h2>メッセージ</h2>

  <div>
    <h2 class="mt-3">New message</h2>
    <%= form_with model: @message, url: admins_message_path, method: :post do |f| %>
      <p class="title, mb-0">Company</p>
      <%= f.collection_select :company_id, Company.all, :id, :name, {:include_blank => true, class: "form-control"} %>
      <p class="body, mb-0">Message</p>
      <%= f.text_area :message, class: "form-control" %>
      <div class="row mt-2">
        <div class="col-12 col-md-6 mx-auto">
          <%= f.submit '投稿', class: 'btn btn-outline-success btn-block' %>
        </div>
      </div>
      <!--<p><button type="submit" class="btn btn-success">投稿</button></p>-->
    <% end %>
  </div>

  <div>
      <%# binding.pry %>
    <% @messages.count.each_with_index do |(message, value), i| %>
      <div class="card mt-2">
        <div class="card-body">
          <p class="card-text"><%= message %></p>
          <% if value >= 2 %>
            <footer class="h6 text-muted">
              <%= @messages[i].created_at.strftime('%Y/%m/%d') %>
              <span class="ml-3">
                all
              </span>
            </footer>
          <% else %>
            <footer class="h6 text-muted">
              <%# binding.pry %>
              <%= @messages[i].created_at.strftime('%Y/%m/%d') %>
              <span class="ml-3">
                <%= @messages[i].company.name %>
              </span>
            </footer>
          <% end %>
        </div>
      </div>
      
      
    <% end %>
  </div>
</div>

<%= paginate @messages %>