<div class="container px-5 px-sm-0">

  <% if @post.errors.any? %>
    <%= @post.errors.count %>errors prohibited this obj from being saved:
    <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  <% end %>

  <div class="row">
    <div class="col-md-3">
      <%= render 'employees/posts/left', employees: @employee %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Posts</h2>

          <% @posts.each do |post| %>
            <div class="card mb-2">
              <%= link_to employees_post_path(post.id) do %>
                <div class="card-header">
                  <%= post.title %>
                </div>
              <% end %>
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                  <p><%= post.body %></p>
                  <% if post.employee_id.nil? %>
                    <!--employee_idがnilであれば実行する-->
                    <footer class="blockquote-footer"><%= post.created_at %> <cite title="Source Title"><% post.company.name %></cite></footer>
                  <% else %>
                    <footer class="blockquote-footer"><%= post.created_at %> <cite title="Source Title"><% post.employee.name %></cite></footer>
                  <% end %>
                </blockquote>
              </div>
            </div>
          <% end %>
    </div>
  </div>
</div>
