<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-md-3">
    </div>
    
    <div class="col-md-8 offset-md-1">
        
      <h2>Post detail</h2>
    <div class="card mb-2">
      <div class="card-header">
        <%= @post.title %>
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p><%= @post.body %></p>
          <% if @post.employee_id.present? %>
            <footer class="h6 text-muted"><%= @post.created_at.strftime('%Y/%m/%d') %><span class="ml-3"><%= @post.employee.name %></span></footer>
          <% elsif @post.employee_id.nil? && @post.company_id.present? %>
            <footer class="h6 text-muted"><%= @post.created_at.strftime('%Y/%m/%d') %><span class="ml-3"><%= @post.company.name %></span></footer>
          <% end %>
        </blockquote>
      </div>
    </div>
  </div>
  </div>
</div>




