<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-md-3">
    </div>

    <div class="col-md-8 offset-md-1">

      <h2>Post detail</h2>
    <div class="card mb-2">
      <div class="card-header" style="display: flex; justify-content: space-between;">
        <div class="mt-1"><%= @post.title %></div>
        <div class="text-right">
          <% if @post.company == current_company %>
            <%= link_to "削除", companies_post_path(@post), method: :delete, class:"btn btn-danger", style:"padding: 0.15rem 0.75rem;" %>
          <% end %>
        </div>
      </div>
      <div class="card-body pb-0">
        <blockquote class="blockquote">
          <p><%= @post.body %></p>
          <% if @post.employee_id.present? %>
            <footer class="h6 text-muted">
              <%= @post.created_at.strftime('%Y/%m/%d') %><span class="ml-3"><%= @post.employee.name %></span>
            </footer>
          <% elsif @post.employee_id.nil? && @post.company_id.present? %>
            <footer class="h6 text-muted">
              <%= @post.created_at.strftime('%Y/%m/%d') %><span class="ml-3"><%= @post.company.name %></span>
            </footer>
          <% end %>
        </blockquote>
      </div>
    </div>

    <div>
      <%= form_with model: @comment, url: companies_post_comments_path(@post), method: :post do |f| %>
        <%= f.text_area :contents, placeholder: "コメント", size: "40x5" %>
        <p><button type="submit" class="btn btn-success", style="padding: 0.20rem 0.75rem;">投稿</button></p>
      <% end %>
    </div>

    <div>
      <% @comments.each do |comment| %>
      <table>
        <tr>
          <p class = "mt-10">
            <%= comment.contents %>
            <%= comment.created_at.strftime("%Y年%m月%d日") %>

            <span class="ml-3">
              <% if comment.comment_status == "company_comment" %>
                <%= comment.company.name %>
              <% else %>
                <%= comment.employee.name %>
              <% end %>
            </span>
          </p>
        </tr>
      </table>
      <% end %>
    </div>


  </div>
  </div>
</div>