<div class="container">
  <div class="row col-12">
    <h2><%= @employee.name %>さんの提出書類状況</h2>
      <div class="row col-12">
        <table class="table">
          <thead>
            <tr>
              <th>
                ステータス
              </th>
              <th>
                提出書類
              </th>
              <th>
                添付書類
              </th>
              <th>
                提出先
              </th>
            </tr>
          </thead>
          <tr>
          <% @documents.each do |document| %>
            <td>
              <%= document.document_master.status %>
            </td>
            <td class=>
              <%= document.document_master.name %>
            </td>
            <td class=>
              <%= document.document_master.extra %>
            </td>
            <td>
              <%= document.document_master.submission %>
            </td>
            <td>
              <% if document.submission_status == "yet" %>
                <p>未提出</p>
              <% else %>
                <p>提出済み</p>
              <% end %>
            </td>
            <td>
              <%= link_to "変更", companies_employee_submission_status_update_path(document.employee_id, document.id), method: :patch, class: "btn btn-success" %>
            </td>
          </tr>
          <% end %>
        </table>
      </div>
  </div>
</div>