<div class="container">
  <h2>マイページ</h2>
    登録情報
    <%= link_to "編集する" , user_information_path, class: "btn btn-success" %>
    </br>
    </br>

  <div class="row">
    <table class = "table">
      <tbody>
        <tr>
          <td>社員番号</td>
          <td>
            <span><%= @user.number %></span>
          </td>
        </tr>
        <tr>
          <td>氏名</td>
          <td>
            <span><%= @user.name %></span>
          </td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td>
            <span><%= @user.email %></span>
          </td>
        </tr>
        <tr>
          <td>出産予定日</td>
          <td>
            <span><%= @user.expected %></span>
          </td>
        </tr>
        <tr>
          <td>出産日</td>
          <td>
            <%= @user.birth %>
          </td>
        </tr>
        <tr>
          <td>出生児 氏名</td>
          <td>
            <%= @user.baby_name %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
