<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/left', user: @company %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Post detail</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <td>
              <%= link_to user_path(@company.id) do %>
                <%= image_tag @company.get_profile_image(100,100) %><br>
                <%= @company.name %>
              <% end %>
            </td>
            <td>
              <%= link_to book_path(@post.id) do %>
                  <%= @post.title %>
              <% end %>
            </td>
            <td>
              <%= @post.body %>
            </td>
            <td>
              <% if @post.user == current_user %>
                <%= link_to "Edit", edit_book_path(@post), class:"btn btn-success" %>
              <% end %>
            </td>
            <td>
              <% if @book.user == current_user %>
                <%= link_to "Destroy", post_path(@post), method: :delete, class:"btn btn-danger"  %>
              <% end %>
            </td>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>