<div class="container">
  <div class="row">
    <div class="offset-sm-3 col-sm-6">
      <h2>利用者情報編集</h2>

      <%= form_with(model: @employee, url: companies_employee_path(@employee)) do |form| %>

        <% if form.object.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(form.object.errors.count, "error") %> prohibited this employee from being saved:</h2>

            <ul>
              <% form.object.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= form.label :name %>
          <%= form.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :email %>
          <%= form.text_field :email, class: "form-control" %>
        </div>

        <% if !form.object.new_record? %>
          <div class="form-group">
            <%= form.label :status %>
          <%#= form.select :status %>
            <!--ステータスのinteger型配列の値を日本語化して、テキストとして値を返す-->
            <%# byebug %>
            <%= form.select :status, Employee.statuses.keys.map{|k, v| [I18n.t("enums.employee.status.#{k}"), k]}, {}, {class: "form-control"} %>
            
          </div>
        <% end %>

        <div class="form-group text-center">
          <%= form.submit "編集する", class: "btn btn-outline-primary" %>
        </div>


      <% end %>
      <%= link_to '戻る', companies_employee_path(@employee) %>|
      <%= link_to '登録社員一覧', companies_employees_path %>
    </div>
  </div>
</div>
