<div class="container mt-5">
  <div class="row">
    <div class="col-8">
      <h2>
        利用者一覧
        <span class="pl-4"><%= link_to "社員のアカウントを発行する",  new_companies_employee_path, class:"btn btn-success" %></span>
      </h2>
    </div>
    <div class="table mt-4">
      <div class="row mb-2 ml-3">
        <div class="col-2 h6"><strong>氏名</strong></div>
        <div class="col-2 h6"><span><strong>ステータス</strong></span></div>
        <div class="col-8"></div>
      </div>

      <div>
        <% @employees.each do |employee| %>
        <div class="row">
          <div class="col-2 mb-2 ml-4">
            <h5>
              <%= link_to companies_employee_path(employee) do %>
                <%= employee.name %>
              <% end %>
            </h5>
          </div>
          <div class="col-2">
            <h5>
              <%= employee.status_i18n %>
            </h5>
          </div>
          <div class="col-8"></div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= paginate @employees %>