<!DOCTYPE html>
<html>
  <head>
    <title>ZtoA</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <% if company_signed_in? %>
    <%= render 'layouts/header_company' %>
    <% elsif employee_signed_in? %>
    <%= render 'layouts/header_user' %>
    <% else %>
    <%= render 'layouts/header_logout' %>
    <% end %>
  </header>


  <body>
    <%= yield %>
  </body>
</html>
