<!DOCTYPE html>
<html>
  <head>
    <title>ZtoA</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <% if company_signed_in? %>
    <%= render 'layouts/header_company' %>
    <% elsif employee_signed_in? %>
    <%= render 'layouts/header_employee' %>
    <% elsif admin_signed_in? %>
    <%= render 'layouts/header_admin' %>
    <% else %>
    <%= render 'layouts/header_logout' %>
    <% end %>
  </header>

  <body>
    <div class="container">
      <!--application_helper参照-->
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= bootstrap_alert(key) %> alert-dismissible fade show">
          <span><%= value %></span>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
    </div>
    <%= yield %>
    <!--<% if Rails.env.development? %>-->
    <!--  <div>company:<%= current_company.inspect %></div>-->
    <!--  <div>employee:<%= current_employee.inspect %></div>-->
    <!--  <%= debug params %>-->
    <!--<% end %>-->
  </body>
</html>
